In [1]:
import pandas as pd
import seaborn as sb

In [2]:
prc = pd.read_excel("/Users/patrickhenneberry/Desktop/China-Global-Investment-Tracker-2018-1.xlsx", 
                    header=5, 
                    sheet_name="Dataset 1")

In [3]:
prc.head()

,Year,Month,Investor,Quantity in Millions,Share Size,Transaction Party,Sector,Subsector,Country,Region,BRI,Greenfield
0,2005,January,Minmetals,500,NaN,Cubapetroleo,Metals,NaN,Cuba,North America,NaN,G
1,2005,January,China Academy of Sciences,1740,NaN,IBM,Technology,NaN,USA,USA,NaN,NaN
2,2005,February,Minmetals,550,0.5,Codelco,Metals,Copper,Chile,South America,NaN,G
3,2005,March,MCC,670,0.85,Highlands Pacific,Metals,Steel,Papua New Guinea,East Asia,NaN,G
4,2005,April,CNOOC,130,0.17,MEG Energy,Energy,Oil,Canada,North America,NaN,NaN

In [4]:
prc.Year.value_counts()

2016    234
2017    181
2015    178
2014    160
2018    156
2012    118
2013    117
2011    102
2010     77
2009     62
2008     42
2007     27
2006     21
2005     13
Name: Year, dtype: int64

In [5]:
fy18 = prc[prc.Year == 2018]
fy18.columns = ['year', 'month', 'investor', 'quant_in_mil', 'share_size', 'transaction_party', 'sector', 'subsector', 'country', 'region', 'BRI', 'Greenfield']

In [6]:
fy18.head()

,year,month,investor,quant_in_mil,share_size,transaction_party,sector,subsector,country,region,BRI,Greenfield
1332,2018,January,China Merchants,1120,0.7,NaN,Transport,Shipping,Sri Lanka,West Asia,1.0,G
1333,2018,January,"China Poly, Sinomach",310,0.51,NaN,Energy,Coal,Bosnia,Europe,1.0,G
1334,2018,January,Southern Power,1300,0.28,Transelec,Energy,NaN,Chile,South America,1.0,NaN
1335,2018,January,Wuxi No.1 Cotton Mill,220,NaN,NaN,Other,Textiles,Ethiopia,Sub-Saharan Africa,1.0,G
1336,2018,January,"New China Capital, China Moly, AXAM",460,1,Louis Dreyfus,Metals,NaN,Netherlands,Europe,0.0,NaN

Immediately, these columns present interest:
- Month (for transaction density over time)
- Investor (who had highest foreign investment? SOE?)
- Share size (avg? How does this distribution skew?)
- Sector
- Country (where are we seeing highest investment?)  
BRI = Belt and Road Initiative  
"Greenfield" investments are investments in new facilities ---> intrastructure/real estate ownership. This is historically a common tactic to establish a permanent foothold (seen in BRI countries, Turkey, Africa)

In [7]:
fy18.dtypes

year                   int64
month                 object
investor              object
quant_in_mil           int64
share_size            object
transaction_party     object
sector                object
subsector             object
country               object
region                object
BRI                  float64
Greenfield            object
dtype: object

Analysis plan:  
- Build out fy17 subset, get agg figures for comparison.  
- Look at "investor"---who had the highest investment? What type of entities had highest investment?  
- Look at "sector"---what sector had most investment? Did any sectors have major change comp. to fy17?  
- Look at "country"---where is investment highest? Any regional trends/clusters?

In [8]:
fy17 = prc[prc.Year == 2017]
fy17.columns = ['year', 'month', 'investor', 'quant_in_mil', 'share_size', 'transaction_party', 'sector', 'subsector', 'country', 'region', 'BRI', 'Greenfield']

In [9]:
fy17.head()

,year,month,investor,quant_in_mil,share_size,transaction_party,sector,subsector,country,region,BRI,Greenfield
1151,2017,January,Sanpower,820,NaN,Valeant,Health,NaN,Canada,North America,0.0,NaN
1152,2017,January,Dalian Wanda,960,NaN,Nordic Cinema,Entertainment,NaN,Sweden,Europe,0.0,NaN
1153,2017,January,Hebei Iron,120,NaN,NaN,Metals,Steel,Serbia,Europe,1.0,NaN
1154,2017,January,Yonghui Superstores Co.,160,0.4,Daymong Worldwide,Other,Consumer,USA,USA,0.0,NaN
1155,2017,January,HNA,360,NaN,CBRE Global,Real estate,Property,USA,USA,0.0,NaN

i.  "Investor" data

In [10]:
fy17.quant_in_mil.sum()

177170

In [11]:
fy18.quant_in_mil.sum()

105880

In [12]:
fy17.groupby('investor').quant_in_mil.sum().sort_values(ascending=False).head(20)

investor
China Reform Holdings, Chem China                43060
HNA                                              19440
CIC                                              14550
Ping An                                           9900
Vanke, Hopu, Hillhouse, Bank of China             9060
Tencent                                           6070
Geely Auto                                        4710
State Power Investment                            4570
State Grid                                        3730
CNPC                                              2810
China Railway Corp, China Railway Engineering     2560
Yankuang                                          2420
Shandong Ruyi                                     2040
China Communications Construction                 2030
Alibaba                                           1980
Legend                                            1900
Fosun                                             1680
Three Gorges                                      1650
State Energy Investment                           1640
Ningbo Joyson                                     1590
Name: quant_in_mil, dtype: int64

In [13]:
fy18.groupby('investor').quant_in_mil.sum().sort_values(ascending=False).head(20)

investor
Geely Auto                                                    9030
China Energy Engineering, Power Construction Corp, Sinopec    5790
Anta Sports                                                   5050
Chengdu Tianqi                                                4070
CNPC                                                          4010
Alibaba                                                       3740
Zijin Mining                                                  2670
Oceanwide                                                     2650
Kunming Iron                                                  2630
Tsinghua Unigroup                                             2570
AVIC                                                          2570
Shandong Sun Paper                                            2540
Zhongrong Xinda                                               2360
Ping An                                                       2300
CITIC                                                         1920
Chinalco                                                      1460
Sinopec                                                       1430
CDH, China Grand                                              1430
Southern Power                                                1300
Orient Securities                                             1260
Name: quant_in_mil, dtype: int64

In [14]:
fy18.groupby('month').quant_in_mil.sum().sort_values(ascending=False).head(20)

month
February     14960
May          10880
December     10760
January      10250
April        10080
July          9970
March         8200
November      7350
August        7050
June          6830
September     5310
October       4240
Name: quant_in_mil, dtype: int64

ii. "Sector" data

In [15]:
fy17.groupby('sector').quant_in_mil.sum().sort_values(ascending=False)

sector
Agriculture      45870
Transport        27440
Logistics        23880
Energy           21440
Finance          15990
Real estate      13500
Other             7850
Entertainment     6900
Health            5670
Technology        3270
Metals            2830
Tourism           2420
Utilities          110
Name: quant_in_mil, dtype: int64

In [16]:
fy18.groupby('sector').quant_in_mil.sum().sort_values(ascending=False)

sector
Energy           21090
Metals           18850
Transport        18550
Other            11900
Technology        8420
Entertainment     7700
Finance           7180
Health            5370
Agriculture       2440
Real estate       2120
Utilities          870
Chemicals          730
Tourism            560
Logistics          100
Name: quant_in_mil, dtype: int64

iii. "Country" data

In [17]:
fy17.groupby('country').quant_in_mil.sum().sort_values(ascending=False)

country
Switzerland                         45370
Britain                             28800
USA                                 24640
Singapore                           13220
Brazil                               9620
Germany                              7010
Australia                            5720
Sweden                               5460
Laos                                 3360
UAE                                  2960
India                                2920
Japan                                2350
Greece                               2310
Canada                               2280
Peru                                 1890
Luxembourg                           1760
Pakistan                             1680
Indonesia                            1510
Sri Lanka                            1430
France                               1350
Argentina                            1060
Slovenia                             1050
Malaysia                              930
Italy                                 890
Denmark                               730
Iran                                  730
Russian Federation                    600
Portugal                              570
South Korea                           570
New Zealand                           450
Democratic Republic of the Congo      420
Spain                                 390
Kenya                                 310
Uzbekistan                            300
Serbia                                260
Vietnam                               250
Liberia                               250
Austria                               230
Thailand                              230
Hungary                               210
Poland                                210
Guinea-Bissau                         170
Israel                                170
Kazakhstan                            110
Maldives                              110
Mexico                                110
Samoa                                 110
Bangladesh                            110
Name: quant_in_mil, dtype: int64

In [18]:
fy18.groupby('country').quant_in_mil.sum().sort_values(ascending=False)

country
Germany                             12750
USA                                  9680
Britain                              6950
Nigeria                              6540
Chile                                6440
Finland                              5660
Canada                               5170
France                               4840
Bangladesh                           3660
Peru                                 3660
Australia                            3160
India                                3110
Serbia                               2510
Netherlands                          2420
UAE                                  2230
Singapore                            2200
South Africa                         1330
Spain                                1260
Brazil                               1260
Sweden                               1210
Japan                                1170
Sri Lanka                            1120
Indonesia                            1110
Laos                                 1060
Guinea                                990
Zimbabwe                              980
Ecuador                               920
Switzerland                           880
Zambia                                820
Cambodia                              800
Kuwait                                650
Norway                                630
South Korea                           600
Ethiopia                              580
Thailand                              550
Italy                                 550
Ireland                               520
Jordan                                500
Russian Federation                    480
Luxembourg                            470
Malaysia                              440
Democratic Republic of the Congo      410
Czech Republic                        350
Slovenia                              340
Pakistan                              330
Bosnia                                310
Venezuela                             250
Taiwan                                240
Croatia                               220
Congo                                 220
Uzbekistan                            200
Egypt                                 180
Vietnam                               160
Kazakhstan                            160
Nepal                                 140
Namibia                               110
Botswana                              100
Belgium                               100
Israel                                100
Gabon                                 100
Name: quant_in_mil, dtype: int64

In [24]:
fy17.groupby('region').quant_in_mil.sum().sort_values(ascending=False)

region
Europe                               96770
USA                                  24640
East Asia                            22980
South America                        12570
West Asia                             7990
Australia                             5720
Arab Middle East and North Africa     2960
North America                         2390
Sub-Saharan Africa                    1150
Name: quant_in_mil, dtype: int64

In [19]:
fy18.groupby('region').quant_in_mil.sum().sort_values(ascending=False)

region
Europe                               42070
South America                        12530
Sub-Saharan Africa                   12180
USA                                   9680
West Asia                             9200
East Asia                             8330
North America                         5170
Arab Middle East and North Africa     3560
Australia                             3160
Name: quant_in_mil, dtype: int64

In [21]:
fy18.quant_in_mil.sum()

105880

In [22]:
x = 42070 + 12530 + 12180
print(x)

66780

In [23]:
z = x/105880
print(z)

0.6307140158670193

In [20]:
fy17_switz = fy17[fy17.country=='Switzerland']

In [31]:
fy17_switz

,year,month,investor,quant_in_mil,share_size,transaction_party,sector,subsector,country,region,BRI,Greenfield
1194,2017,March,HNA,580,0.51,Glencore,Energy,Oil,Switzerland,Europe,0.0,NaN
1204,2017,April,HNA,1360,0.16,Dufry,Tourism,NaN,Switzerland,Europe,0.0,NaN
1212,2017,May,HNA,370,0.04,Dufry,Tourism,NaN,Switzerland,Europe,0.0,NaN
1244,2017,June,"China Reform Holdings, Chem China",43060,0.98,Syngenta,Agriculture,NaN,Switzerland,Europe,0.0,NaN